/*
    #2E2A28
    #1C1917
*/

/* ==================================== */
/* Fonts Import                         */
/* ==================================== */

@font-face { 
    font-family: 'Katahdin Round'; 
    src: url('fonts/KatahdinRound.otf'); 
} 

@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

/* ==================================== */
/* CSS Reset                     */
/* ==================================== */

* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}

::-webkit-scrollbar {
    display: none;
}

/* ==================================== */
/* Global Variable (:root)              */
/* ==================================== */

:root {
    --text-color: #fffafa;
    --text-font: 'Poppins';
    --text-weight: 400
}

/* ==================================== */
/* Global Parameters                    */
/* ==================================== */

html {
    scroll-behavior: smooth;
    position: relative;
    
}

body {
    color: #fffafa;
}

#copyright {
    position: absolute;
    bottom: 10px;
    right: 10px;
    color: #7c7876;
    font-family: 'Poppins';
}

/* ==================================== */
/* Specific Parameters (landing)        */
/* ==================================== */

.landing {
    box-sizing: border-box;
    display: flex;
    background: linear-gradient(to bottom, #2E2A28, #1C1917);
    border: solid 3px #1C1917;
    flex-direction: column;
    justify-content: space-between;
    height: 100vh;
    padding: 100px 120px;
}

.landing .item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.landing .item .nav {
    margin-top: 40px;
    flex-direction: column;
    display: flex;
    align-items: left;
    justify-content: space-between;
}

.landing .item .nav .nav-item {
    color: #fffafa;
    font-family: 'Poppins';
    font-size: 3em;
    position: relative;
    transition: all 0.2s ease-in-out;
}

.landing .item .nav .nav-item::after {
    content: ''; 
    background: #fffafa;
    width: 0%;
    height: 4px;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: all 0.2s ease-in-out;
}

.landing .item .nav .nav-item:hover::after {
    width: 150%;
}

/* ==================================== */
/* Specific Parameters (about)          */
/* ==================================== */

.about {
    box-sizing: border-box;
    display: flex;
    align-items: left;
    justify-content: space-around;
    background: #1C1917;
    border: solid 3px #1C1917;
    flex-direction: column;
    height: 100vh;
    padding: 100px 120px;
}

.about .content {
    height: 250px;
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Poppins';
    max-width: 630px;
}

.about .content h1 {
    font-size: 3em;
}

.about .content p {
    font-size: 1.5em;
}


/* ==================================== */
/* Specific Parameters (work)          */
/* ==================================== */

.work {
    box-sizing: border-box;
    display: flex;
    align-items: left;
    justify-content: space-around;
    background: #1C1917;
    border: solid 3px #1C1917;
    flex-direction: column;
    height: 100vh;
    padding: 100px 120px;
}

.work .content {
    height: 200px;
    display: flex;
    align-items: left;
    justify-content: space-between;
    flex-direction: column;
    font-family: 'Poppins';
}

.work .content h1 {
    font-size: 3em;
}

.work .content div {
    display: flex;
    flex-direction: column;
}

.work .content div a {
    font-size: 1.5em;
    position: relative;
    transition: all 0.2s ease-in-out;
    cursor: pointer;
    color: #fffafa;
}

.work .content div a::after {
    content: '';
    background: url(assets/arrow.png);
    width: 26px;
    height: 22px;
    position: absolute;
    transform: translateX(15px) translateY(7px);
    transition: all 0.2s ease-in-out;
}

.work .content div a:hover::after {
    transform: translateX(25px) translateY(7px);
}

@media screen and (max-width: 500px) {
    .landing, .about, .work {
        padding: 60px 50px;
    }
}